.tabla-carrito {
  color: white;
  width: 100%;
  border-collapse: collapse;
}

.tabla-carrito td, .tabla-carrito th {
  border: 1px solid white;
  padding: 0.7rem 1rem;
}

 .tabla-carrito th {
   text-align: left;
   color: $taronja;
   font-weight: normal;
 }

 .tabla-carrito .carrito-prods {
   padding: 1rem 1rem;
 }

 .tabla-carrito .carrito-separacio td,  .tabla-carrito .carrito-separacio {
   border: none;
   padding: 0;
 }

 .tabla-carrito p {
   margin-bottom: 0;
 }

.boton-carrito {
  background-color: $negre;
  font-size: 150%;
  padding: 0.7rem 1rem;
  color: white;
}

.vaciar-carrito {
  border: 1px solid red;
}
.vaciar-carrito:hover {
  background-color: rgba(red, 0.3);
}

.finalizar-compra {
  border: 1px solid $taronja;
}
.finalizar-compra:hover {
  background-color: rgba($taronja, 0.3);
}

.botones-carrito {
  padding-top: 5rem;
}

.col-fin {
  float: right;
  padding-right: 1rem;
}
