$blau: #0E3FA9;
$taronja: #FFA903;

.box{
  width: 500px;
  padding: 100px;
  padding-top: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: $blau;
  text-align: center;
  border: 2px solid $taronja;
  border-radius: 2px;

  h1{
    font-family: 'blockletterregular';
    color: $taronja;
    font-weight: 500;
    text-align: center;
    font-size: 4em;
    margin-bottom: 3rem;
  }
  h3 {
    font-family: 'blockletterregular';
    color: $taronja;
    font-weight: 500;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1rem;
  }
  input[type = "email"],
  input[type = "password"],
  input[type = "text"],
  input[type = "password-confirm"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  input[type = "email"]:focus,
  input[type = "password"]:focus,
  input[type = "text"]:focus,
  input[type = "password-confirm"]:focus{
    width: 280px;
    border-color: $taronja;
  }
  input[type = "email"]::placeholder,
  input[type = "password"]::placeholder,
  input[type = "text"]::placeholder,
  input[type = "password-confirm"]::placeholder{
    color: white;
  }
  input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid $taronja;
    padding: 10px 35px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  input[type = "submit"]:hover{
    background: $taronja;
  }
  .botoLoginGithub{
    border:0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #767676;
    padding: 10px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .botoLoginGithub:hover{
    background: #767676;
  }
  .botoLoginTwitter{
    border:0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #00aced;
    padding: 10px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .botoLoginTwitter:hover{
    background: #00aced;
  }
  .botoLoginGoogle{
    border:0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #d34836;
    padding: 10px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .botoLoginGoogle:hover{
    background: #d34836;
  }
}
.form-check-label-login {
  color: white;
}

.links-login {
   color:white;
}

.links-login:hover {
  text-decoration: none;
  color: $taronja;
}
