.box{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  font-family: 'Condiment', cursive;
  color: white;
  font-weight: 500;
  text-align: center;
  font-size: 3em;
}
.box input[type = "email"],.box input[type = "password"],.box input[type = "text"],.box input[type = "password-confirm"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "email"]:focus,.box input[type = "password"]:focus,.box input[type = "text"]:focus,.box input[type = "password-confirm"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 10px 35px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}

.box .botoLoginGithub{
  border:0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #767676;
  padding: 10px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box .botoLoginGithub:hover{
  background: #767676;
}

.box .botoLoginTwitter{
  border:0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #00aced;
  padding: 10px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box .botoLoginTwitter:hover{
  background: #00aced;
}

.box .botoLoginGoogle{
  border:0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #d34836;
  padding: 10px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box .botoLoginGoogle:hover{
  background: #d34836;
}

.form-check-label-login {
  color: white;
}
