.navbar {
	background-color: $blau;
	color: white;
	padding: 0;
}

.navbar-brand {
  font-family: 'blockletterregular';
  font-size: 2.7em;
  color: $taronja;
}

.navbar-brand:hover
{
   color: $taronja;
   text-decoration: none;
}

.navbar-toggler {
	color: $taronja;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: $taronja;
		text-decoration: none;
}

.navbar-search {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
    background-color: $blau;
    border: 1px solid $taronja;
}
.navbar-userIcon {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-search::placeholder {
		color: white;
}
