
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
// @include font-face(blockletterregular, public/css/fonts/blockletter);
@font-face {
    font-family: 'blockletterregular';
    src: url('../../public/css/fonts/blockletter/blockletter-webfont.woff2') format("woff2"),
		 url('../../public/css/fonts/blockletter/blockletter-webfont.woff') format("woff"),
		 url('../../public/css/fonts/blockletter/blockletter-webfont.ttf') format("truetype");
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom css
@import 'navbar';
@import 'login';
@import 'catalog';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

.body-master {
  background-color: $negre;
  color: white;
}

.container-master {
  margin-top: 3rem;
}

.body-especiales{
  background-color: $blau;
}
